a{
    text-decoration: none !important;
    color: white !important;
    font-weight: 600 ! important;
    cursor: pointer !important;
    font-size: 22px !important;

}
p{
    font-size: 18px !important;
}
button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #483e6b;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   button:hover {
    color: white !important;
   }
   
   button:hover::before {
    width: 100%;
   }
   .sub-navbar{
    margin-top: 80px !important;
    text-align: center;
    background: rgb(4, 4, 122) !important;
    color: white !important;
    height: 150px !important;
   }
   .subnav{
    padding-top: 30px;
   }