/* all merida query */


@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  .hero-heading {
    text-align: center;
    padding: 12px;
    font-size: 24px;

  }

  .hero-image {
    margin-left: 0px !important;

  }

  .dmodel {
    visibility: hidden;
  }

  .section-two-dis {
    display: flex;
    flex-wrap: wrap;
    gap: 2px !important;
  }

  .about-image {
    margin-left: 0px;
  }

  .about-image-para {
    margin-left: 0px;
  }

  .we-offer {
    display: flex;
    flex-wrap: wrap;
  }

  .bulk-emails {
    display: flex;
    flex-wrap: wrap;
  }

  .bulkimage {
    margin-left: 0px;
  }

  .bulkimg {
    height: 300px !important;
  }

  .text-overlay {
    margin-top: 100px;
  }

  .textoverylay-text {
    font-size: 24px;
    padding: 20px;
  }

  .highlightline {
    display: none;
  }

  .para {
    display: none;
  }

  .business-des {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .productivity {
    flex-wrap: wrap;
  }

  .promot-sms {
    display: flex;
    flex-wrap: wrap;
  }

  .cont-para {
    color: white;
  }

  .contact-info {
    margin-bottom: 100px;
  }

  .faq-section {
    width: 100% !important;
  }
  .faq_section{
    width: 100%;
  }
  .accordion{
    width: 100%;
  }
}

@media only screen and (max-width: 789px) {
  .hero-image {
    margin-left: 0px !important;

  }

  .we-offer {
    display: flex !important;
    flex-wrap: wrap !important;
    width: auto !important;
  }

  .cont-para {
    color: white;
  }
  .faq-section {
    width: 100% !important;
  }
  .faq_section{
    width: 100%;
  } .accordion{
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .hero-image {
    margin-left: 0px !important;

  }

  .we-offer {
    display: flex !important;
    flex-wrap: wrap !important;
    width: auto !important;
    text-align: center;
  }

  .cont-para {
    color: white;
  }
  .faq-section {
    width: 100% !important;
  }
  .faq_section{
    width: 100%;
  } .accordion{
    width: 100%;
  }
}