/* all merida query */


@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .hero-heading{
        text-align: center;
        padding: 12px;
        font-size: 24px;
        
      }
    .hero-image{
      margin-left: 0px !important;
     
    }
    .dmodel{
      visibility: hidden;
    }
    .section-two-dis{
      display: flex;
      flex-wrap: wrap;
      gap: 2px !important;
    }
  .about-image{
     margin-left: 0px;
    }
    .about-image-para{
      margin-left: 0px;
    }
    .we-offer{
      display: flex;
      flex-wrap: wrap;
    }
  }
  @media only screen and (max-width: 789px){
    .hero-image{
      margin-left: 0px !important;
     
    }
    .we-offer{
      display: flex !important;
      flex-wrap: wrap !important;
      width: auto !important;
    }
  }
  @media only screen and (max-width: 1200px){
    .hero-image{
      margin-left: 0px !important;
     
    }
    .we-offer{
      display: flex !important;
      flex-wrap: wrap !important;
      width: auto !important;
      text-align: center;
    }
  }